/* Home Page */
body {
  margin: 0;
  margin-top: 0;
  font-family: sans-serif;
  min-height: 100vh; /* Idagdag ito */
  display: flex; /* Idagdag ito */
  flex-direction: column; /* Idagdag ito */
}

/* Header Part */
header {
  background-color: #000000;
  width: 100%;
  height: 60px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  position: fixed;
  z-index: 3;
  padding: 0 40px;
  box-sizing: border-box;
}

.logo_title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #ffffff;
  font-weight: 700;
}

nav ul {
  display: flex;
  grid-column: 2;
  justify-content: center;
  gap: 24px;
  font-size: 16px;
  list-style: none;
  margin-right: 80px;
  padding: 0;
}

nav li {
  color: #ffffff;
  cursor: pointer;
}

nav a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
}

/* Hero Main */
#greeting {
  padding-top: 50px;
  font-size: 70px;
  margin: 0px;
}

#quote {
  font-size: 17px;
  color: #475569;
}

#hero_adjustment {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom, #cffafe, #ffffff);
  gap: 48px;
}

#hero_content {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}

#hero_picture {
  border-radius: calc(infinity * 1px);
  height: 450px;
  width: 450px;
}

#social_links {
  display: flex;
  gap: 24px;
}

#facebook_link,
#linkedin_link,
#gmail_link,
#github_link {
  cursor: pointer;
  border-radius: calc(infinity * 1px);
}

#active {
  color: #ff0000;
}

.hover_nav:hover {
  color: #cccccc;
}

#footer {
  background-color: #000000; /* Para tumugma sa header */
  color: #ffffff;
  text-align: center;
  padding: 20px 0;
}

main {
  flex: 1;
}

/* About Page */

/* About Main */
#about_adjustment {
  height: 100vh;
  background: linear-gradient(to bottom, #cffafe, #ffffff);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
}

#about_content {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

#linear_y_axis {
  background-color: #ff0000;
  width: 7px;
  height: 450px;
  border: 2px solid #ff0000;
  border-radius: 25px;
  margin-left: 50px;
}

#about {
  font-size: 50px;
  margin-bottom: 0px;
  padding-bottom: 40px;
}

.text_about {
  font-size: 25px;
  color: #475569;
}

#html {
  color: #e34f26;
}

#css {
  color: #1572b6;
}

#javascript {
  color: #f7df1e;
}

#git {
  color: #f05032;
}

#github {
  color: #181717;
}

#react {
  color: #61dafb;
}

#nodejs {
  color: #339933;
}

#active {
  color: #ff0000;
}
