body {
  margin: 0;
  margin-top: 0;
  font-family: serif;
  overflow: hidden;
}

header {
  background-color: #000000;
  width: 100%;
  height: 60px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  position: fixed;
  z-index: 3;
  padding: 0 40px;
  box-sizing: bordder-box;
}

#logo_title {
  margin: 0;
  color: #ffffff;
  font-weight: 700;
}
